<div>
<h1>LOGIN PAGE</h1>
<div class="">
  <form class="" action="/login" method="post">
    <label>username</label>
    <input type="text" name="log[name]" value=""><br><br>
    <label>password</label>
    <input type="password" name="log[pass]" value="">
    <br><br>
    <input type="submit" name="" value="Submit">
  </form>
</div>
<div class="">
  <a href="/register/new">REGISTER A NEW USER</a>
</div>
</div>
