<div><br>
<form class="" action="/register" method="post">
  <label for="">username</label>
  <input type="text" name="reg[name]" value=""><br><br>
  <label for="">password</label>
  <input type="password" name="reg[pass]" value=""><br><br>
  <input type="submit" name="" value="Submit"><br>
</form>
<div class="">
  <a href="/">login page</a>
  </div>
</div>
