<form class="" action="/comp" method="post">
  <input type="text" name="chk" value=""><br>
  <input type="text" name="des" value=""> <br>
  <input type="submit" name="" value="enter to submit the value">
</form>
