<form class="" action="/register" method="post">
  <label for="">Email</label>
  <input type="text" name="username" ><br><br>
  <label for="">Password</label>
  <input type="text" name="password" ><br>
  <input type="submit" name="" value="REGISTER">
</form>
<br>
<a href='/'>LOGIN</a>
